.sidebar{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../img/img1.jpeg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color: whitesmoke;
    font-family: 'Nunito', sans-serif;
}

.bod{
    background-color: whitesmoke;
}

.search{
    background:transparent;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    transition: all .3s ease;
}

.search:focus {
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid grey;
}

.icon-notify {
    position: relative;
}
  
.icon-notify-link::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #f44336;
}

.card-arr{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.card-arr:hover{
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.mt-5{
    margin-top: 4rem !important;
}

.sidebar .active {
    background-color: #f44336;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transition: all .3s ease;
}
  
.sidebar .active:hover {
    background-color: #f66436;
    transform: translateY(-5px);
}
  
.sidebar-link {
    transition: all .3s ease;
}
  
.sidebar-link:hover {
    background-color: #444;
    border-radius: 7px;
}

@media(max-width:776px){
    .screen{
        padding: 10px;
    }
    .smalls{
        margin-top: 4.2rem;
    }
    .cl{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .icon-notify-link::after {
        top: 15px;
    }
    .w{
        width: 100% !important;
    }
}

@media(min-width:911px){
   .hc{
    height: 75px;
   }
}

footer h5{
    font-size: 1.1rem !important;
}
